@font-face
{
    font-family: "dayrom";
    src: url("./polices/dayrom.woff") format("woff");
}

h1 {
    font-family: "dayrom";
}
nav ul li {
    list-style-type: none;
}
ul {
    text-transform: uppercase;
}
body {
    max-width: 950px;
    background: url("images/fond_jaune.png");
    margin: auto;
    width: 95vw;
}
body img {
    width: 20%;
    height: 25%;
    
}
img {
    width: 5%;
}
header div {
    display: flex;
}
#titles {
    display: flex;
    flex-direction: column;

}
header {
    display: flex;
    justify-content: space-between;
}
nav {
    width: 35vw;
    margin-top: 5%;
    height: 30vh;


}
header nav ul {
    display: flex;
    justify-content: space-evenly;
}
.container {
    position: relative;
    width: 100%;
    max-width: 950px;
    height: 10rem;
    background: url(images/sanfrancisco.jpg) no-repeat;
}
div a {
    color: blue;
    
}
a:visited {
    color: purple;
}
.container2 {
    background-color: red;
    opacity: 0.5;
    position: absolute;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
header div img {
    no background-repeat: ;
}
article p {
    margin-right: 10%;
}
section {
    display: flex;
}
#firstPicture {
    width: 50%;
    height: 30%;
}
#imageGroup {
    display: flex;
    justify-content: space-evenly;
}
aside {
    border-radius: 2%;
    height: 35rem;
    background-color: gray;
}
aside div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#falseLink {
    display: flex;
    justify-content: space-evenly;
}
.imageGroup2 {
    width: 10%;
    height: 20%;
}
footer {
    display: flex;
    justify-content: space-between;
}
h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}